
footer{
    display: flex;
    flex-direction: column;
    background-color: #141414;
    color: white;
}

.footer--contact{
    display: flex;
    flex-direction: column;
    padding: 15vh 6vw;
    width: 100%;
    align-items: flex-start;
    justify-content: center;
}
.footer--contact img{
    max-width: 15vw;
    padding-bottom: 4vw;
}
.footer--text{
    display: flex;

    flex-direction: column;
}
.footer--text a{
    color: white;
    text-decoration: none;
    font-family: 'Pacifico', cursive;
    font-size: 4rem;
    line-height: 95%;
}
.footer--text p{
    font-family: 'Barlow', sans-serif;
    font-size: 1.2rem;
}

.copyright{
    display: flex;
    padding: 2vw;
}