
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');


.backgroundblur{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    background-color: rgba(55, 55, 55, 0.7);
    backdrop-filter: blur(4px);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: .5vh 2vw;
    background-color: white;
}

.logo{
    margin-right: auto;
    text-decoration: none;
    color: #1D1F21;
    cursor: pointer;
    font-size:  clamp(16px,4vw,60px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.2s ease;
}

.logo:hover{
    scale: 1.03;
}


.contact{
    border-radius: 4rem;
    background-color: #E7E7E7;
    padding: .3rem .2rem .3rem .4rem;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 1.5rem;
    height: 35px;
}

.contact p{
    color: #1D1F21;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    padding-right: .2rem;
}

.contact-images img{
    transition: all ease 0.2s;
}

.contact:hover .contact-images img{
    transform: translateY(-115%);
}

.contact-images{
    width: 26px;
    height: 26px;
    background-color: #1D1F21;
    border-radius: 100%;
    overflow: hidden;
}

.contact-images img{
    width: 26px;
    height: 26px;
}


.line-toggle-detectionbox{
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 100%;
    background-color: #e7e7e7;
    rotate: 180deg;
    cursor: pointer;
    z-index: 1000;
}


.line-toggle{
    background-color: #1D1F21;
    width: 22px;
    height: 2px;
    transition: all 0.2s;
    position: absolute;
    
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}


.line-toggle::before{
    position: absolute;
    top: -6px;
    content: "";
    background-color: #1D1F21;
    width: 18px;
    height: 2px;
    transition: all 0.2s;
}

.line-toggle::after{
    position: absolute;
    top: 6px;
    content: "";
    background-color: #1D1F21;
    width: 18px;
    height: 2px;
    transition: all 0.2s;
    right: 0;
}
 

.line-toggle-detectionbox:hover .line-toggle{
    background-color: transparent;
}
.line-toggle-detectionbox:hover .line-toggle::before{
    width: 13px;
    transform: rotate(45deg);
    top:0;
}
.line-toggle-detectionbox:hover .line-toggle::after{
    width: 13px;
    transform: rotate(-45deg); 
    top: 0;
    right: 0;
}

.toggle-expanded{
    transform: rotate(180deg);
}

.nav-expand-container{
    z-index: 100;
    display: flex;
    position: absolute;
    top: .5vw;
    left: .5vw;
    width: 99vw;
    height: 33vh;
    background-color: white;
    border-radius: .5vw;
    -webkit-border-radius: .5vw;
    -moz-border-radius: .5vw;
    -ms-border-radius: .5vw;
    -o-border-radius: .5vw;
}

.nav-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: .5vw;
}

.nav-links2{
    text-decoration: none;
    list-style: none;
    width: 20%;
    height: 100%;
}

.nav-links {
    text-decoration: none;
    list-style: none;
    border-right: #909090 solid 1px;
    width: 20%;
    height: 100%;
}


.page-wrapper{
    padding: 15vh 2vw;
    display: flex;
}

.hero-wrapper{
    display: flex;
    flex-direction: column ;
}

.hero-wrapper h1{
    font-size: clamp(40px, 8vw, 175px);
    font-family:'Quicksand', sans-serif;
    font-weight:700;
    color: #1D1F21;
}

.hero-wrapper em{
    color: #909090;
    font-style: normal;
}

.hero-wrapper-section-2{
    display: flex;
    font-family:'Quicksand', sans-serif;
    margin-top: 2vh;
    font-size: clamp(12px,4vw,20px);
    columns: 2;
    justify-content: flex-start;
}

.hero-wrapper-section-2 h3{
    margin-right: auto;
    width: clamp(5vw, 30vw, 12vw);
    color: #000;
    font-weight: 600;
    font-size: clamp(12px,3vw,16px);
}

.hero-wrapper-section-2-1{
    display: flex;
    width: clamp(5vw, 30vw, 20vw);
    flex-direction: column;
    color: #1D1F21;
    font-weight: 400; 
}

.hero-wrapper-section-2-1 .contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    max-width: 110px;
    margin: 2vh 0;
    background-color: #1D1F21;
}

.hero-wrapper-section-2-1 .contact p{
    color: #Fff;
}

