
@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');



.backgroundblur{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 200%;
    top: 0;
    left: 0;
    background-color: rgba(55, 55, 55, 0.7);
    backdrop-filter: blur(4px);
    transition: all 0.3s ease;
    -webkit-transition: all 0.3s ease;
    -moz-transition: all 0.3s ease;
    -ms-transition: all 0.3s ease;
    -o-transition: all 0.3s ease;
}
.backgroundblur.blur-toggled{
    position: absolute;
    z-index: 10;
    width: 100%;
    height: 0;
    top: 0;
    left: 0;
    background-color: rgba(55, 55, 55, 0);
    backdrop-filter: blur(0px);
}
*{
   margin: 0;
   padding: 0;
   box-sizing: border-box; 
}


/* width */
::-webkit-scrollbar {
    width: 10px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #fff;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #1b1d1e;
    border-radius: 20rem;
    -webkit-border-radius: 20rem;
    -moz-border-radius: 20rem;
    -ms-border-radius: 20rem;
    -o-border-radius: 20rem;
    border: solid white .5px;
}
html{
    overflow-x: hidden;
}

nav{
    display: flex;
    flex-direction: row;
    justify-content: end;
    align-items: center;
    margin: .5vh 2vw;
    background-color: white;
    padding: 1vh 0;
}

.logo{
    margin-right: auto;
    text-decoration: none;
    color: #1D1F21;
    cursor: pointer;
    font-size:  clamp(16px,4vw,24px);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    transition: all 0.2s ease;
    z-index: 1000;
}

.logo em{
    font-style: normal;
    color: #909090;
}

.logo:hover{
    scale: 1.03;
}


.contact{
    border-radius: 4rem;
    background-color: #E7E7E7;
    padding: .3rem .2rem .3rem .4rem;
    cursor: pointer;
    transition: all 0.2s;
    display: flex;
    align-items: center;
    text-decoration: none;
    margin-right: 1.5rem;
    height: 35px;
}
.contact:hover{
    transform: scale(1.05);
    -webkit-transform: scale(1.05);
    -moz-transform: scale(1.05);
    -ms-transform: scale(1.05);
    -o-transform: scale(1.05);
}

.contact p{
    color: #1D1F21;
    text-decoration: none;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 1.4rem;
    padding-right: .2rem;
}

.contact-images img{
    transition: all ease 0.2s;
}

.contact:hover .contact-images img{
    transform: translateY(-115%);
}

.contact-images{
    width: 26px;
    height: 26px;
    background-color: #1D1F21;
    border-radius: 100%;
    overflow: hidden;
}

.contact-images img{
    width: 26px;
    height: 26px;
}


.line-toggle-detectionbox{
    width: 35px;
    height: 35px;
    position: relative;
    border-radius: 100%;
    background-color: #e7e7e7;
    rotate: 180deg;
    cursor: pointer;
    z-index: 1000;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}



.line-toggle{
    background-color: #1D1F21;
    width: 22px;
    height: 2px;
    transition: all 0.2s;
    position: absolute;
    
    bottom: 50%;
    right: 50%;
    transform: translateX(50%) translateY(50%);
}


.line-toggle::before{
    position: absolute;
    top: -6px;
    content: "";
    background-color: #1D1F21;
    width: 18px;
    height: 2px;
    transition: all 0.2s;
}

.line-toggle::after{
    position: absolute;
    top: 6px;
    content: "";
    background-color: #1D1F21;
    width: 18px;
    height: 2px;
    transition: all 0.2s;
    right: 0;
}
 

.line-toggle-detectionbox:hover .line-toggle{
    background-color: transparent;
}
.line-toggle-detectionbox:hover .line-toggle::before{
    width: 13px;
    transform: rotate(45deg);
    top:0;
}
.line-toggle-detectionbox:hover .line-toggle::after{
    width: 13px;
    transform: rotate(-45deg); 
    top: 0;
    right: 0;
}

.toggle-expanded{
    transform: rotate(180deg);
}

.nav-expand-container.nav-expanded{
    transform: translateY(-120%);
    -webkit-transform: translateY(-120%);
    -moz-transform: translateY(-120%);
    -ms-transform: translateY(-120%);
    -o-transform: translateY(-120%);

}

.nav-expand-container{
    z-index: 100;
    display: flex;
    position: absolute;
    transform: translateY(0);
    top: .5vw;
    left: .5vw;
    width: 99vw;
    width: calc(99vw - 10px);
    height: 33vh;
    background-color: white;
    border-radius: .5vw;
    -webkit-border-radius: .5vw;
    -moz-border-radius: .5vw;
    -ms-border-radius: .5vw;
    -o-border-radius: .5vw;
    -webkit-transform: translateY(0);
    -moz-transform: translateY(0);
    -ms-transform: translateY(0);
    -o-transform: translateY(0);
    transition: all 0.3s ease-out;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
}

.nav-links-container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    border-radius: .5vw;
}

.nav-links2{
    text-decoration: none;
    list-style: none;
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: end;
    justify-content: start;

}

.nav-links {
    text-decoration: none;
    list-style: none;
    border-right: #909090 solid 1px;
    width: 20%;
    height: 100%;
    cursor: pointer;
    display: flex;
    align-items: end;
    justify-content: start;
    position: relative;
}

.nav-link-titles{
    display: flex;
    flex-direction: column;
    height: 1.8rem;
    overflow: hidden;
    margin: 1.5vh;
}
.nav-link-titles p{
    font-size: 1.8rem;
    font-weight: 200;
}

.nav-links:hover .nav-link-titles .nav-link-1{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.nav-links:hover .nav-link-titles .nav-link-2{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.nav-links2:hover .nav-link-titles .nav-link-1{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}
.nav-links2:hover .nav-link-titles .nav-link-2{
    transform: translateY(-100%);
    -webkit-transform: translateY(-100%);
    -moz-transform: translateY(-100%);
    -ms-transform: translateY(-100%);
    -o-transform: translateY(-100%);
}

.nav-link-1{
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.nav-link-2{
    transition: all 0.1s ease;
    -webkit-transition: all 0.1s ease;
    -moz-transition: all 0.1s ease;
    -ms-transition: all 0.1s ease;
    -o-transition: all 0.1s ease;
    color: red;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.nav-link-arrow{
    position: relative;
    margin: 1.5vh;
    display: flex;
    align-items: center;
    width: 1.8vh;
    height: 1.8vh;
    flex-direction: column;
    margin-left: auto;
    overflow: hidden;
}
.nav-link-arrow img{
    width: 1.8vh;
    height: 1.8vh;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
}
.nav-link-arrow-2{
    transform: translateX(-100%);
    -webkit-transform: translateX(-100%);
    -moz-transform: translateX(-100%);
    -ms-transform: translateX(-100%);
    -o-transform: translateX(-100%);
}

.nav-links:hover .nav-link-arrow-1{
    transform: translate(100% ,-100%);
    -webkit-transform: translate(100% ,-100%);
    -moz-transform: translate(100% ,-100%);
    -ms-transform: translate(100% ,-100%);
    -o-transform: translate(100% ,-100%);
}
.nav-links:hover .nav-link-arrow-2{
    transform: translate(0,-100%);
    -webkit-transform: translate(0,-100%);
    -moz-transform: translate(0,-100%);
    -ms-transform: translate(0,-100%);
    -o-transform: translate(0,-100%);
}
.nav-links2:hover .nav-link-arrow-1{
    transform: translate(100% ,-100%);
    -webkit-transform: translate(100% ,-100%);
    -moz-transform: translate(100% ,-100%);
    -ms-transform: translate(100% ,-100%);
    -o-transform: translate(100% ,-100%);
}
.nav-links2:hover .nav-link-arrow-2{
    transform: translate(0,-100%);
    -webkit-transform: translate(0,-100%);
    -moz-transform: translate(0,-100%);
    -ms-transform: translate(0,-100%);
    -o-transform: translate(0,-100%);
}





.page-wrapper{
    padding: 15vh 0vw;
    display: flex;
    flex-direction: column;
}

.hero-wrapper{
    display: flex;
    flex-direction: column ;
    padding: 0 2vw;
}

.hero-wrapper h1{
    font-size: clamp(40px, 7.5vw, 160px);
    font-family:sans-serif;
    font-weight: 500;
    color: #1D1F21;
}

.hero-wrapper em{
    color: #909090;
    font-style: normal;
}

.hero-wrapper-section-2{
    display: flex;
    font-family:sans-serif;
    margin-top: 2vh;
    font-size: clamp(12px,4vw,20px);
    columns: 2;
    justify-content: flex-start;
}

.hero-wrapper-section-2 h3{
    margin-right: auto;
    width: clamp(5vw, 30vw, 14vw);
    color: #000;
    font-weight: 500;
    font-size: clamp(12px,3vw,18px);
}

.hero-wrapper-section-2-1{
    display: flex;
    width: clamp(5vw, 30vw, 20vw);
    flex-direction: column;
    color: #1D1F21;
    font-weight: 400; 
}

.hero-wrapper-section-2-1 .contact{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 300;
    max-width: 110px;
    margin: 2vh 0;
    background-color: #1D1F21;
}

.hero-wrapper-section-2-1 .contact p{
    color: #Fff;
}

.image-gallery{
    width: 100%;
    background-color: #1b1d1e;
    columns: 3;
    gap: 0.2vw;
    display: flex;
    padding-bottom: 0.6vw;
    position: relative;
}

.image-gallery_col1{
    padding: 0.2vw;
    width: 30%;
    max-height: 150vh;
    overflow: hidden;
}


.image-gallery_col2{
    padding: 0.2vw;
    width: 40%;
    max-height: 150vh;
    overflow: hidden;
    display: flex;
    flex-direction: column
}

.image-gallery_col3{
    padding: 0.2vw;
    width: 30%; 
    max-height: 150vh;
    overflow: hidden; 
}

.image-gallery div img{
    margin-top: .4vw;
    width: 100%;
    border-radius: .5vw;
    -webkit-border-radius: .5vw;
    -moz-border-radius: .5vw;
    -ms-border-radius: .5vw;
    -o-border-radius: .5vw;
}

.about-wrapper{
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 10vw 4vh;
    border: red solid 1px;
    height: 70vh;
}

.about-col1{
    display: flex;
    flex-direction: column;
    width: 20%;
    padding: 8vh 0;
}
.about-header{
    background-color: red;
    width: fit-content;
    padding: .1vw .5vw;
    border-radius: 2rem;
    -webkit-border-radius: 2rem;
    -moz-border-radius: 2rem;
    -ms-border-radius: 2rem;
    -o-border-radius: 2rem;
    color: #fff;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    align-content: center;
    justify-content: center;
    display: flex;
}

.about-social-links{
    display: flex;
    padding-top: 20vh;
    flex-direction: column;
}
.about-social-links p {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 18px;
}
.about-social-links-wrapper{
    display: flex;
    gap: .5vw;
    padding-top: 1.5vh;
}
.about-social-link-1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1vw .5vw;
    border: solid .5px rgb(27, 29, 30);
    border-radius: 2rem;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    font-weight: 300;
}
.about-social-link-1 p{
    margin-left: .1vw;
}
.about-social-link-1:hover{
    transform: rotate(-7.5deg);
    -webkit-transform: rotate(-7.5deg);
    -moz-transform: rotate(-7.5deg);
    -ms-transform: rotate(-7.5deg);
    -o-transform: rotate(-7.5deg);
    background-color: #1b1d1e;
    color: #fff;
}


.about-social-link-2{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: .1vw .5vw;
    border: solid .5px #1b1d1e;
    border-radius: 2rem;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    -ms-transition: all 0.2s ease;
    -o-transition: all 0.2s ease;
    font-weight: 300;
}
.about-social-link-2 p{
    margin-left: .1vw;
}
.about-social-link-2:hover{
    transform: rotate(-7.5deg);
    -webkit-transform: rotate(-7.5deg);
    -moz-transform: rotate(-7.5deg);
    -ms-transform: rotate(-7.5deg);
    -o-transform: rotate(-7.5deg);
    background-color: #1b1d1e;
    color: #fff;
}

.about-col2{
    padding: 0 2vw 0 -5vw;
}





.about-col3{
    position: relative;
    padding: 8vh 0;
}
.profile-pic{
    border-radius: 50%;
    width: 5vw;
    height: 5vw;
    background-size:150%;
    background-position: 50% 15%;
    background-image: url(images/placeholders/placeholder-pexels-profile-pic.jpg);
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.about-col4{
    padding: 8vh 1vw;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    max-width: 25vw;
}
.about-paragraph-1{
    font-size: 20px;
    font-weight: 600;
    padding-bottom: 1vh;
    line-height: 25px;
}
.about-paragraph-2{
    font-size: 18px;
    font-weight: 400;
    padding-bottom: 1vh;
    color: rgb(29, 31, 33);
    line-height: 25px;
}
